# Atlassian Developer Console > Authorization > OAuth 2.0 (3LO)
# The callback URL must be: https://YOUR_DOMAIN/api/auth/callback
JIRA_CLIENT_ID=
JIRA_CLIENT_SECRET=
JIRA_OAUTH_REDIRECT_URI=http://localhost:3000/api/auth/callback
